$primary: #777777;
$secondary:#3B3131;

$gray--100:#C4C4C4;


.btn-secondary{color: $secondary;
    cursor: pointer;
    
    }






$h1-font-size:               11rem;


// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss'

