
@use 'custom'as *;



$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;
// scss-docs-end grid-breakpoints


@mixin flex-col-0{flex: 0 0 0 ;}


// Source mixin
@mixin make-container($padding-x: $container-padding-x) {
  min-width: 10vw;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: 0;
  margin-left: 0;
}

// Usage
.custom-container {
  @include make-container();
}

@mixin btn{background-color:$bng-color;}

