@use 'custom' as *;
@use 'mixins' as *;



// TODO variable and sources to be dixed


@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');



html,body,h1,h2,h3,a,li{margin:0; padding:0;font-family:'oranienbaum';color:white; }
div{padding:0;box-sizing: border-box;}

body{ background-color:$primary-light;
   p{color: $black}


  main{min-height:56.25rem;   
   

      
       
      background-image: url("../../img/header.jpg");
      background-attachment:fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @media screen and (max-width:480px){width:100vw;}

}
   
 

      

      
      
     
     
      
      
      






         
      
           
         
     
         
      }
      
     
      
nav{color: white;}
      nav a{color:white; text-decoration: none;margin:0.3rem;}   
     
        
      
   
      
         .h-container{
            margin-top: 20rem;
            margin-bottom: 11rem;
            min-width: 100%;
        @media screen and (max-width:30rem){flex-direction:column;}
        
            
         }

         .gallery{
            @media screen and (max-width:480px){flex-direction: column;
            align-items:center;

         }}
         .gallery:nth-child(1){flex-direction: column;}
         .gallery:nth-child(2){flex-direction: column;}
            .gallery:nth-child(3){flex-direction: column;

         
         }
         
           
               
            
      
         


        
         .h1-container h1{font-size:10rem;
            padding-top: 8rem;
            color: white; text-decoration: underline;}
         
         
div{
         

         img{max-height: 36.93rem;
           
        }
        
     
      }
     .review{
      left:512px;
      padding-left:90px;
    margin-left:10rem;
   p{width:36.12rem;
   height:20.5rem;}}
    
      .review div:nth-child(1){
       height:29.56rem;
         width:41.06rem;
      border:1px solid black;
      z-index: 2;
     
       background-color: #E9E9E9;
      top:2.37rem;
      bottom:3.18rem;
      right:2.5rem;
     
       
      

   }
.review div:nth-child(2){
   height:29.56rem;
         width:41.06rem;
      border:1px solid black;
     background-color:#E9E9E9;
    top:3.18rem;



}
.footer1{background-image: url('../../img/header.jpg');
    background-attachment:fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   max-width: 100%;
   height: 32rem;
   
}
.footer2{a{color:black;}}

      
   
   

      

   
   
   
    
      

  
  

       .col{@include flex-col-0}

