@use 'custom' as *;





@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');


html,body,h1,h2,h3,a,li{margin:0; padding:0;font-family:'oranienbaum'; }
body{background-color: $primary;


  
   
   

      .header-section{

      background-image: url("../../img/header.jpg");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      
      
      justify-content: center;

      .header-section header{display:flex;
      justify-content: space-around;
      

   align-items: center;}
     
     
     
      nav{
      PADDING:0;
        margin: 0;
         width: 100%;
         
      }
      justify-content: space-between;
      nav h2{display: inline-block;
      padding-right: 50rem;}
      

      nav a{color:white; text-decoration: none;margin:0.3rem;}   
     
        
      
   
      
         .h1-container{display: flex;
            justify-content: space-around;
         }
        
         .h1-container h1{font-size:10rem;
            padding-top: 8rem;
            color: white; text-decoration: underline;}
         
      }
      
   
   
            
       .banner{background-color: $gray--100;
         display:flex;
         align-items: center;
         flex-direction: column;
   
        .p-description{text-align: justify;
      max-width:16rem;}

      p{max-width: 40rem;
      text-align: justify;}
       
   
   
 
   }
}