@use 'custom' as *;




// general
@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');


html,body,h1,h2,h3,a,li{margin:0; padding:0;font-family:'oranienbaum';color:white; }
div{padding:0;box-sizing: border-box;}
body{background-color: $primary;


  
   
   // header

      .header-section{

         max-height:50rem;
      background-image: url("../../img/header.jpg");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      
      
      justify-content: center;

      .header-section header{display:flex;
      justify-content: space-around;
      

   align-items: center;}
     
     
     
      nav{
      PADDING:0;
        margin: 0;
         width: 100%;
         
      }
      justify-content: space-between;
      nav h2{display: inline-block;
      padding-right: 50rem;}
      

      nav a{color:white; text-decoration: none;margin:0.3rem;}   
     
        
      
   
      
         .h-container{display: flex;
            margin-top: 11rem;
            margin-bottom: 11rem;
            justify-content: space-around;
      
         }


        
         .h1-container h1{font-size:10rem;
            padding-top: 8rem;
            color: white; text-decoration: underline;}
         
      }
      
   
   
            
       .banner{background-color: $gray--100;
         display:flex;
         align-items: center;
         flex-direction: column;
   
      

      .banner p{
      text-align: justify;
      max-width:9rem;
  
}
       
       }
.gallery{object-fit: contain;
   max-width:1500px;
   .gallery .row{max-height: 591px;}
   
   
  

}
   }
       
  